:root {
  --royal-blue: #106cd1;
  --gutter: 20px;
}

.hero-headline {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.hero-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 85vh;
  grid-template-areas:
    "nav"
    "hero";
  height: 100vh;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.19681375968356096) 100%
    ),
    url("../images/kid-and-mom-on-carpet-lg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header {
  grid-area: nav;
}

#hero-main {
  grid-area: hero;
  display: grid;
}

.hero-subheading-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.logo {
  height: 7rem;
}

.hamburger-menu-color {
  color: black;
}

#hero-subheadline {
  text-shadow: 0.125em 0.125em 0.125em rgb(0 0 0 / 10%);
}

/* SVG Shape Divider */

.custom-shape-divider-bottom-1612037810 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1612037810 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 75px;
}

.custom-shape-divider-bottom-1612037810 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1612146550 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1612146550 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom-1612146550 .shape-fill {
  fill: #106cd1;
}

/* Third Divider */
.custom-shape-divider-bottom-1612149660 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1612149660 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom-1612149660 .shape-fill {
  fill: #106cd1;
}
/* Fourth Divider */

/* Services Section */
/* #services {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 50vh 50vh;
} */

.service-images {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.service-image-1 {
  z-index: 10;
  grid-column: 1 / 4;
  grid-row: 1 / 5;
}
.service-image-2 {
  z-index: 20;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 7;
}
.service-image-3 {
  z-index: 30;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 5;
}
.service-image-tile {
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonial {
  border-radius: 1rem;
}
#image-gallery-section {
  margin-bottom: 3em;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
  z-index: 39;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(6, minmax(300px, 1fr));
  grid-template-rows: minmax(150px, 1fr);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}
.item {
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/* Utilities */
.brand-blue {
  color: var(--royal-blue);
}
.bg-brand-blue {
  background-color: var(--royal-blue);
}
/* Gradient variations
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.19681375968356096) 100%), url('./images/kid-and-mom-on-carpet-lg.jpg');


*/
